<a href="https://colab.research.google.com/github/arshad-huh/Numpy-Module/blob/main/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Note: In Data Science googling is a very important skill. If you find some difficulties to solve the problem, google it and try to find some clues to solve.**

In [1]:
import numpy as np

###`Q-1` Create a null vector of size 10 but the fifth value which is 1.

In [ ]:
null_vector = np.zeros(10)

null_vector[4] = 1

print(null_vector)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

###`Q-2` Ask user to input two numbers a, b. Write a program to generate a random array of shape (a, b) and print the array and avg of the array.

In [ ]:
r1 = int(input("Enter the number of rows: "))
c1 = int(input("Enter the number of columns: "))

random_arr = np.random.random((r1, c1))

print(random_arr)
print("The average of the generated array is", np.mean(random_arr))

Enter first number: 4
Enter Second number: 5
[[0.79794959 0.96345211 0.52527056 0.09610394 0.45568992]
 [0.43813332 0.87649944 0.97382386 0.32075294 0.13031469]
 [0.66719465 0.66831553 0.77138585 0.97359255 0.59000666]
 [0.80537997 0.22684352 0.81450615 0.43751408 0.7208601 ]]
The average of the generated array is 0.612679471868824

###`Q-3`Write a function to create a 2d array with 1 on the border and 0 inside. Take 2-D array shape as (a,b) as parameter to function.

Eg.-
```
[[1,1,1,1],
[1,0,0,1],
[1,0,0,1],
[1,1,1,1]]
```

In [ ]:
def create_arr(a, b):
  arr = np.zeros((a, b))
  arr[0, :] = 1
  arr[-1, :] = 1
  arr[:, 0] = 1
  arr[:, -1] = 1
  return arr

arr1 = create_arr(7, 4)
print(arr1)

[[1. 1. 1. 1.]
 [1. 0. 0. 1.]
 [1. 0. 0. 1.]
 [1. 0. 0. 1.]
 [1. 0. 0. 1.]
 [1. 0. 0. 1.]
 [1. 1. 1. 1.]]

###`Q-4` Create a vector of size 10 with values ranging from 0 to 1, both excluded.

In [ ]:
vector = np.linspace(0, 1, 12)[1:-2]

print(vector)

[0.09090909 0.18181818 0.27272727 0.36363636 0.45454545 0.54545455
 0.63636364 0.72727273 0.81818182]

###`Q-5` Create a identity matrix of shape (3,4).

In [ ]:
iden_matrix = np.eye(3,4)

print(iden_matrix)

# It is not possible to make identity matrix of non square matrix.
# np.identity(3) ==> for 3 by 3 Identity Matrix

[[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]]

###`Q-6:` Create a 5x5 matrix with row values ranging from 0 to 4.

In [ ]:
matx5 = [list(range(5)) for _ in range(5)]

matx5 = np.array(matx5)
print(matx5)

[[0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]
 [0 1 2 3 4]]

###`Q-7:`  Consider a random integer (in range 1 to 100) vector with shape `(10,2)` representing coordinates, and coordinates of a point as array is given. Create an array of distance of each point in the random vectros from the given point. Distance array should be interger type.

```
point = np.array([2,3])
```

In [ ]:
random_vector = np.random.randint(1, 101, size=(10, 2))

given_point = np.array([2, 3])

# Using distance formula Class 10
distances = np.sqrt(((random_vector - given_point)**2).sum(axis=1))
distances = distances.astype(int)

print(distances)

[ 34  62  38  86  45  34 109  84  43  49]

###`Q-8:` Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element?

In [ ]:
array_shape = (6, 7, 8)
total_elements = np.prod(array_shape)

if total_elements < 100:
    print("The 100th element does not exist in this array.")
else:
    index = np.unravel_index(100 - 1, array_shape)
    print(f"The index of the 100th element is: {index}")

The index of the 100th element is: (1, 5, 3)

### `Q-9:` Arrays

You are given a space separated list of numbers. Your task is to print a reversed NumPy array with the element type float.

**Input Format:**

A single line of input containing space separated numbers.

**Output Format:**

Print the reverse NumPy array with type float.

**Example 1:**

Input:

```bash
1 2 3 4 -8 -10
```

Output:

```bash
[-10.  -8.   4.   3.   2.   1.]
```

In [ ]:
numbers_str = input().split(" ")

numbers_float = [float(x) for x in numbers_str]

array = np.array(numbers_float)
reversed_array = array[::-1]

print(reversed_array)
print(numbers_str)

1 2 3 4
[4. 3. 2. 1.]
['1', '2', '3', '4']

### `Q-10:` Elements count

Count the number of elements of a numpy array.

**Example 1:**

Input:
```bash
np.array([])
```

Output:
```bash
elements_count :  0
```

**Example 2:**

Input:
```bash
np.array([1, 2])
```

Output:
```bash
elements_count :  2
```

In [ ]:
array = np.array([[1, 2, 3], [4, 5, 6]])

print(array.size)

6

### `Q-11:` Softmax function

Create a Python function to calculate the Softmax of the given numpy 1D array. The function only accepts the numpy 1D array, otherwise raise error.

$$\Large \sigma(\vec z)_i = \frac{e^{z_i}}{\sum_{j=i}^{K}{e^{z_j}}}$$

https://en.wikipedia.org/wiki/Softmax_function

**Example 1:**

Input:
```bash
[86.03331084 37.7285648  48.64908087 87.16563062 38.40852563 37.20006318]
```

Output:
```bash
[2.43733249e-01, 2.56112115e-22, 1.41628284e-17, 7.56266751e-01,
       5.05514197e-22, 1.50974911e-22]
```

**Example 2:**

Input:
```bash
[33.17344305 45.61961654 82.05405781 80.9647098  68.82830233 91.52064278]
```

Output:
```bash
[4.57181035e-26, 1.16249923e-20, 7.73872596e-05, 2.60358426e-05,
       1.39571531e-10, 9.99896577e-01]
```

In [ ]:
#Code here

### `Q-12:` Vertical stack

Write a python function that accepts infinite number of numpy arrays and do the vertical stack to them. Then return that new array as result. The function only accepts the numpy array, otherwise raise error.

**Example 1:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]
```

Output:

```bash
[[0 1 2 3 4]
 [5 6 7 8 9]
 [1 1 1 1 1]
 [1 1 1 1 1]]
```

**Example 2:**

Input:
```bash
a= [[0 1 2 3 4]
 [5 6 7 8 9]]

b= [[1 1 1 1 1]
 [1 1 1 1 1]]

c= [[0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

Output:
```bash
[[0.         1.         2.         3.         4.        ]
 [5.         6.         7.         8.         9.        ]
 [1.         1.         1.         1.         1.        ]
 [1.         1.         1.         1.         1.        ]
 [0.10117373 0.1677244  0.73764059 0.83166097 0.48985695]
 [0.44581567 0.13502419 0.55692335 0.16479622 0.61193593]]
```

In [2]:
def vertical_stack(*arrays):
  for array in arrays:
    if not isinstance(array, np.ndarray):
      raise TypeError("Input must be numpy arrays")
    return np.vstack(arrays)

array1 = np.array([[1, 2, 3], [4, 5, 6]])
array2 = np.array([[7, 8, 9], [10, 11, 12]])
array3 = np.array([[13, 14, 15], [16, 17, 18]])

stacked_array = vertical_stack(array1, array2, array3)

print(stacked_array)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]
 [13 14 15]
 [16 17 18]]

### `Q-13:` Dates

Create a python function named **date_array** that accepts two dates as string format and returns a numpy array of dates between those 2 dates. The function only accept 2 strings, otherwise raise error. The date format should be like this only: `2022-12-6`. The end date should be included and for simplicity, choose dates from a same year.

**Example 1:**

Input:
```bash
date_array(start = '2020-09-15', end = '2020-09-25')
```

Output:
```bash
['2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
 '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22',
 '2020-09-23', '2020-09-24', '2020-09-25']
```

**Example 2:**

Input:
```bash
date_array(start = '2022-12-01', end = '2022-12-06')
```

Output:
```bash
['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04', '2022-12-05', '2022-12-06']
```

**Example 3:**

Input:
```bash
date_array(start = '2020-11-25', end = '2020-11-30')
```

Output:
```bash
['2020-11-25', '2020-11-26', '2020-11-27', '2020-11-28',
 '2020-11-29', '2020-11-30']
```

In [3]:
from datetime import datetime, timedelta

def date_array(start_date, end_date):

  if not isinstance(start_date, str) or not isinstance(end_date, str):
    raise TypeError("Arguments must be strings")

  try:
    # Convert strings to datetime objects
    start_date_obj = datetime.strptime(start_date, "%Y-%m-%d")
    end_date_obj = datetime.strptime(end_date, "%Y-%m-%d")
  except ValueError:
    raise ValueError("Invalid date format. Please use YYYY-MM-DD.")

  # Check if both dates are from the same year
  if start_date_obj.year != end_date_obj.year:
    raise ValueError("Start and end dates must be from the same year.")

  # Generate a range of dates and convert them to NumPy array
  date_range = np.arange(start_date_obj, end_date_obj + timedelta(days=1), dtype="datetime64[D]")

  return date_range

# Example usage
start_date = "2022-10-26"
end_date = "2022-11-02"

date_array = date_array(start_date, end_date)

print(date_array)

['2022-10-26' '2022-10-27' '2022-10-28' '2022-10-29' '2022-10-30'
 '2022-10-31' '2022-11-01' '2022-11-02']

###`Q-14:` Subtract the mean of each row from a matrix.

In [ ]:
matrix1 = np.array([[1, 2, 3], [4, 5, 6]])

###`Q-15:` Swap column-1 of array with column-2 in the array.

In [ ]:
#Code here

###`Q-16:` Replace odd elements in arrays with -1.

In [ ]:
#Code here

###`Q-17:` Given two arrays of same shape make an array of max out of two arrays. (Numpy way)
```
a=np.array([6,3,1,5,8])
b=np.array([3,2,1,7,2])

Result-> [6 3 1 7 8]
```

In [ ]:
#Code here

###`Q-18` Answer below asked questions on given array:
1. Fetch Every alternate column of the array
2. Normalise the given array

https://en.wikipedia.org/wiki/Normalization_(statistics)

There are different form of normalisation for this question use below formula.

$$\large X_{normalized} = \frac{X - X_{min}}{X_{max} - X_{min}}$$

```python
arr1=np.random.randint(low=1, high=10000, size=40).reshape(8,5)
```

In [ ]:
# Given
arr1=np.random.randint(low=1, high=10000, size=40).reshape(8,5)
arr1

array([[2939, 1694, 6680, 8865, 2684],
       [4066, 4573,  327, 6525,  851],
       [5997, 7481, 2315, 5863, 9615],
       [7821, 1225, 9138, 1114, 4885],
       [7715, 8046, 9105, 3935, 3182],
       [8842, 4836, 2705, 3751, 3800],
       [4132, 1400, 7844, 9471, 7526],
       [2749, 2624, 6900, 1576, 7515]])

In [ ]:
#Code here

###`Q-19:` Write a function which will accept 2 arguments.
First: A 1D numpy array arr

Second: An integer n {Please make sure n<=len(arr)}

Output: The output should be the nth largest item out of the array
```
# Example1 : arr=(12,34,40,7,1,0) and n=3, the output should be 12
# Example2 : arr=(12,34,40,7,1,0) and n=1, the output should be 40
```

In [ ]:
#Code here

###`Q-20:` Create the following pattern without hardcoding. Use only numpy functions and the below input array a.
```
# Input: a = np.array([1,2,3])
# Output: array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [12]:
a = np.array([1, 2, 3])

b = np.repeat(a, 3)

c = np.append(b, a)

d = np.append(c, a)

print(d)

[1 1 1 2 2 2 3 3 3 1 2 3 1 2 3]